//@theme "/home/amankumar/.local/share/rofi/themes/squared-nord.rasi"
//@theme "/home/amankumar/.local/share/rofi/themes/rounded-nord-dark.rasi"
@theme "/home/amankumar/.local/share/rofi/themes/nord.rasi"
